<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <title>ADM solution submission server</title>
     <script src="/static/jquery.js"></script>
     <script src="/static/apprise-v2.js"></script>
     
     <script src="/static/jquery-linedtextarea.js"></script>
     <link href="/static/jquery-linedtextarea.css" rel="stylesheet" type="text/css" />

     <script src="/static/admserver.js"></script>
     <link href="/static/admserver.css" rel="Stylesheet" type="text/css" />
  </head> 

  <body onload="initPage();">
    {% if items["useSSL"] %}
    <div id="StartSSL"><a href="http://www.startssl.com/"><img src="/static/startcom_secured_keys_80x15.png" border="0" alt="Free SSL Secured B"></a></div>
	{% end %}
	<ul class="navbar"> 
		<li class="navbar"><a href="/assignment" class="navbar active">Assignment</a></li>
		{% if items["isadmin"] %}
		<li class="navbar"><a href="/admin" class="navbar">Admin</a></li>
		{% end %}
		<li class="navbar"><a href="/profile" class="navbar">Profile</a></li>
		<li class="navbar"><a href="/logout" class="navbar">Logout: {{ items["name"] }}</a></li>
	</ul>
    <TABLE id="tableProfile">
	    <TR id="header"><TH width="10%">Image</TH><TH width="90%">Profile.</TH></TR>
	    <TR id="profile" >
	    	<TD class="visible">
	    		Your image here...
	    	</TD>
	    	<TD class="visible">
			    <form action="/profile" method="post">
			        <table>
			        <tr><td width=10%>courses:</td><td><input type="text" name="courses" value="{{ items["courses"] }}"></td></tr>
			        <tr><td width=10%>nickname:</td><td><input type="text" name="nickname" value="{{ items["nickname"] }}"></td></tr>
			        <tr><td width=10%></td><td><input type="submit" value="Update profile"></td></tr>
				    </table>
					{% raw xsrf_form_html() %}
					    
			    </form>    
	    	</TD>
	    </TR>
    </TABLE>
    
    
    
  </body>
</html>