<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
     <title>ADM solution submission server</title>
     <script src="/static/jquery.js"></script>
     <script src="/static/apprise-v2.js"></script>
     
     <script src="/static/jquery-linedtextarea.js"></script>
     <link href="/static/jquery-linedtextarea.css" rel="stylesheet" type="text/css" />

     <script src="/static/admserver.js"></script>
     <link href="/static/admserver.css" rel="Stylesheet" type="text/css" />
  </head> 

  <body onload="initPage();">
	<ul class="navbar"> 
		<li class="navbar"><a href="/assignment" class="navbar active">Assignment</a></li>
		{% if items["isadmin"] %}
		<li class="navbar"><a href="/admin" class="navbar">Admin</a></li>
		{% end %}
		<li class="navbar"><a href="/profile" class="navbar">Profile: {{ items["name"] }}</a></li>
	</ul>
    <TABLE id="tableAssignment">
	    <TR id="header"><TH width="10%">Daedline</TH><TH width="90%">Description ....</TH></TR>
	    <TR id="assignment" >
	    	<TD>
	    		{{ (items["assignment"][1] - datetime.datetime.now().date()).days }}<BR />Days left
	    	</TD>
	    	<TD>
	    		<strong><a href="/assignment/{{ items["assignment"][0] }}">{{ items["assignment"][5] }}::{{ items["assignment"][2] }}</a></strong><BR />
	    		{{ items["assignment"][3] }}
	    	</TD>
	    </TR>
    </TABLE>
    
    <ul id="listTasks" class="navbar tabs"> 
    {% for task in items["tasks"] %}
	    <li class="navbar">
	    <a class="navbar" id="task{{ task[1] }}" onClick="showTask('task{{ task[1] }}')">task{{ task[1] }} ( {{ task[10] }}{% if task[9] > 0 %}%{% end %} )</a>
	    </li>
    {% end %}
    </ul>

    <TABLE id="myTable">
	    <TR id="header"><TH width="10%">Attempt</TH><TH width="45%">Description</TH><TH width="45%">result</TH></TR>
	    {% for task in items["tasks"] %}
		    <TR id="task{{ task[1] }}">
		    	<TD>
		    		<a name="task{{ task[1] }}"></a>
		    		{% if task[8] == 0 %}
			    		<pre>Unlimited</pre>
		    		{% else %}  
		    			<pre>Allowed: {{ task[8] }}
		    			Left: <span id="attempts{{ task[1] }}">{{ task[8] - (task[7] or 0) }}</span></pre>
		    		{% end %}
		    	</TD>
		    	<TD>
		    		<pre>{{ task[2] }}</pre><BR />
		    		<form id="frmTask{{ task[1] }}" action="" method="post">
		    			<input type="hidden" name="md5hash" value="{{ items["assignment"][0] }}">
					    <input type="hidden" name="assignment" value="{{ items["assignment"][2] }}">
					    <input type="hidden" name="task" value="{{ task[1] }}">
					    {% if task[8] == 0 %}
					        <input id="task{{ task[1] }}attempts" type="hidden" name="attempts" value="inf">
					    {% else %}
					        <input id="task{{ task[1] }}attempts" type="hidden" name="attempts" value="{{task[8] - (task[7] or 0)}}">
					    {% end  %}
						<textarea class="lined" cols="120" rows="17" name="code">{% if (task[5] is None) %}{{ task[11] }}{% else %}{{ task[5] }}{% end %}</textarea><BR />
						{% raw xsrf_form_html() %}
						<button type="button" name="submit" onclick="processSubmission('{{ task[1] }}')">Submit task</button>    
		    		</form> 				
		    	</TD>
		    	<TD>
		    		<span id="Response{{ task[1] }}">{% raw task[6] %}</span>
		    	</TD>
		    </TR>
	    {% end %}
    </TABLE>
    </div>
    <script>
	    $(function() {
            $(".lined").linedtextarea( {selectedLine: 1});
    	});
    </script>
    
    
  </body>
</html>